<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752591718124-ugim820hpgrmtjkbuubmhcq9cq63j0qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752591718124-ugim820hpgrmtjkbuubmhcq9cq63j0qa</string>
	<key>API_KEY</key>
	<string>AIzaSyDioT3EEQWKLhGCnHxchficDKdqxBBVm54</string>
	<key>GCM_SENDER_ID</key>
	<string>752591718124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codev.dzaubrynewspaper</string>
	<key>PROJECT_ID</key>
	<string>dzuabry</string>
	<key>STORAGE_BUCKET</key>
	<string>dzuabry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752591718124:ios:1d54e3bda080e45630c7c9</string>
</dict>
</plist>